# If using Apache, use the following in your .htaccess file
Options +FollowSymLinks
RewriteEngine On

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ app/engine/router.php [QSA,L]

# If you are using nginx, place the following in your ServerBlock config,
# in the location section: (uncommented of course!)
# 
# try_files       $uri  /app/engine/router.php?$args;
